<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Star Gifposter</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css">
	<script src="__PUBLIC__/js/jquery-3.3.1.min.js"></script>
	<script src="__PUBLIC__/js/index.js"></script>
</head>
<body>
	<header>
		<section class="wrapper flex">
			<div class="nav-top">
				<a id="logo" href="/">Star Gifposter</a>
				<i class="fa fa-server hidden" aria-hidden="true"></i>
			</div>
			<div class="search">
				<input type="seach" name="seach" id="search">
				<i class="fa fa-search" aria-hidden="true"></i>
			</div>
			<ul class="nav-menu">
				<li><a href="">Gifposter</a></li>
				<li><a href="">Bing Wallpaper</a></li>
				<li><a href="">About Us</a></li>
			</ul>
		</section>
	</header>
</body>
</html>